# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# WordPress Core (im cms/ Verzeichnis)
/cms/wp-admin/
/cms/wp-includes/
/cms/wp-*.php
/cms/xmlrpc.php
/cms/license.txt
/cms/readme.html
/cms/index.php

# Config
/cms/wp-config.php
/cms/.htaccess

# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor/
/node_modules/
composer.lock
package-lock.json

# Build
/cms/wp-content/themes/custom-theme/assets/dist/
*.min.js
*.min.css
*.map

# Uploads & Cache
/cms/wp-content/uploads/
/cms/wp-content/upgrade/
/cms/wp-content/cache/
*.log


# Example themes
/cms/wp-content/themes/twenty*/

# Example plugin
/cms/wp-content/plugins/hello.php


# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Development
.dev