// Theme Toggle Button
.theme-toggle {
  position: fixed;
  bottom: $spacing-4;
  right: $spacing-4;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: $radius-full;
  background: $color-primary;
  border: none;
  cursor: pointer;
  box-shadow: $shadow-lg;
  transition: all $transition-base;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    transform: scale(1.1);
  }
  
  &__icon {
    font-size: 24px;
    position: absolute;
    transition: all $transition-base;
    
    &--light {
      opacity: 1;
    }
    
    &--dark {
      opacity: 0;
    }
  }
  
  &.is-dark {
    .theme-toggle__icon--light {
      opacity: 0;
    }
    
    .theme-toggle__icon--dark {
      opacity: 1;
    }
  }
}